<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet", href="/assets/styles/main.css")
		link(rel="stylesheet", href="/assets/styles/aboutkms.css")
		title Document
	body
		header.header
			a.header__logo
				img.header__logoImg(src="/assets/images/logo.png", alt="")
			div.header__lineBox
				div.header__line
				div.header__line
				div.header__line
		main
			section.section
				div.section__title
					img.section__textImg(src="/assets/images/kv_title.png", alt="")
					h3.section__h3 風格至上
					p.section__p 風格也許不能拯救世界
					p.section__p 但可以美好你的一天
				div.section__scroll
					div.section__arrow
					p.section__text scroll
			section.declaration
				div.declaration__box
					div.declaration__first
						div.declaration__video
							img.declaration__img(src="/assets/images/about-video.jpg", alt="")
						div.declaration__wrapper
							div.declaration__textBox
								h3.declaration__h3 品牌宣言
								p.declaration__p 風格是一種語言，能打破種族文化限制，匯聚全球創意人才。
								p.declaration__p KMS善用風格多做語言，與設計師夥伴緊密合作溝通
								p.declaration__p 我們從世界各地每一個洋溢創意的角落 —
								p.declaration__p 時尚伸展台、潮流熱門地點、街頭文化 —
								p.declaration__p 收集創意靈感，並與群眾分享。
								p.declaration__p 風格也許不能拯救世界
								p.declaration__key 但到最後
								p.declaration__key STYLE MATTERS 風格至上
								div.declaration__more 更多品牌訊息
				div.declaration__styleBox
					div.declaration__top
						img.declaration__orange(src="/assets/images/genderless.png", alt="")
						p.declaration__littleH3 KMS創意城市
							span.declaration__span 倫敦
						p.declaration__note 倫敦最新街頭潮流趨勢-無性別中性風格
						p.declaration__p 無格趨勢越來越火熱，我們的風格策劃人見證了全世界城市的中性趨勢風格打扮，趨勢報告中宣告無性別中性風已是現今最熱門的趨勢之一。
						p.declaration__p.declaration__color 『相較於一個世紀以前，人們對「美」有了更多元的看法。女性不再被「美麗」的觀念壓得喘不過氣，男性也不再為「男子氣概」所束縛。追求內心的想法，成為自己心目中的模樣有何不可?』
						p.declaration__from 資料來源  
							span.declaration__data THE BEAUTY BUZZ WGSN, 12.28.16
					div.declaration__styleWrapper
						div.declaration__styleLeft
							div.declaration__styleItem
								img.declaration__styleImg(src="/assets/images/style1.jpg", alt="")
							div.declaration__styleItem
								img.declaration__styleImg(src="/assets/images/style2.jpg", alt="")
						div.declaration__styleRight
							div.declaration__styleItem
								img.declaration__styleImg(src="/assets/images/style3.jpg", alt="")
							div.declaration__styleItem
								img.declaration__styleImg(src="/assets/images/style4.jpg", alt="")
							div.declaration__styleItem
								img.declaration__styleImg(src="/assets/images/style5.jpg", alt="")
					div.declaration__bottom
						h3.declaration__h3 中性風風潮
						p.declaration__p 由Z世代(1995年至2014年出生)主導，"無性別"已成為社會思維和生活方式的一部分，這個運動目的是打破傳統性別刻板印象，男生不怕展現女性化的一面，女性也願意接納自己較陽剛的部分。
						p.declaration__p 從時裝秀(無性別時尚主導了倫敦時裝週A/W 17/18)、街頭潮流、廣告以及整個時尚業的角度來看，性別之間的界限變得越來越模糊。在時尚方面，性別規範正受到嚴峻的挑戰。
						p.declaration__p "年輕的設計師(多數在25歲以下)正開啟關於“個性”而不是“性別”的對話。他們受到許多活動、時裝系列及伸展台的支持，毫不費力地將男生、女生巧妙地混合在一塊。"
						p.declaration__p 服裝品牌推出越來越多的無性別的時裝系列，並推廣無性別的造型-在男裝上使用粉彩，女性則出現Oversized的西裝外套和西裝褲。
						p.declaration__p "並不是要將男女生性別轉換，而是想同時展現性別中陽剛及陰柔的一面" Simon Miller，KMS全球風格委員會
						p.declaration__p 在YouTube上及與主要的時尚品牌合作的過程中，可以看到男生的化妝技巧並不輸給女生;運動品牌的行銷及主流社交媒體的溝通上，也開始強調"強大是新時代的性感"。展現女性強韌及活力的一面，受此趨勢的啟發，我們創建了最新的系列:無性別時尚，形象照的拍攝過程中，我們使用的模特也符合無性別的趨勢，我們嘗試了不一樣的造型輪廓，以女孩展現較陽剛的造型，男孩則多了幾分柔和的氣息，而且我們真的用非傳統的方式來玩這些產品，將無性別的分為融入。 Sam Burnett，KMS全球風格委員會
						p.declaration__p 擺脫傳統的性別造型規範，打破性別刻板印象
						p.declaration__p Men's grooming? Lasies styling? Doesn't matter. STYLE MATTERS.

		footer.footer
			div.footer__left
				div.footer__link
					a.footer__a(href="https://www.kmshair.com/zh-TW") kmshair.com
					span.footer__span
					a.footer__fb(href="")
						img.footer__fbImg(src="/assets/images/footer_fb.svg", alt="")
					a.footer__yt(href="")
						img.footer__ytImg(src="/assets/images/footer_yt.svg", alt="")
					a.footer__ig(href="")
						img.footer__igImg(src="/assets/images/footer_ig.svg", alt="")
					p.footer__tag #kmshair
				p.footer__text KMS is part of Kao Salon Division
			div.footer__right
script(src="/assets/scripts/jquery.min.js")
