<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet", href="assets/styles/main.css")
		link(rel="stylesheet", href="assets/styles/index.css")
		title Document
	body
		header.header
			a.header__logo
				img.header__logoImg(src="assets/images/logo.png", alt="")
			div.header__lineBox
				div.header__line
				div.header__line
				div.header__line
		main
			section.section
				div.section__title
					img.section__textImg(src="assets/images/kv_title.png", alt="")
					h3.section__h3 風格至上
					p.section__p 風格也許不能拯救世界
					p.section__p 但可以美好你的一天
				div.section__center
					img.section__centerImg(src="assets/images/kv_video.png", alt="")
					img.section__play(src="assets/images/play.png", alt="")
				div.section__scroll
					div.section__arrow
					p.section__text scroll
			section.commodity
				div.commodity__box
					div.commodity__titleBox
						h3.commodity__h3 形塑新品 隆重上市
						p.commodity__p 簡單時尚
							span.commodity__span ．
							| 輕鬆OK洗
							span.commodity__span ．
							| 百變重塑
						div.commodity__more 瞭解更多
					div.commodity__item
						img.commodity__itemImg(src="assets/images/prod1.png", alt="")
			section.activity
				div.activity__box
					div.activity__titleBox
						p.activity__note KMS春夏優惠活動
						p.activity__h3 購買KMS
							span.activity__span 任二件
							| 商品
						p.activity__h3 送精美好禮
						p.activity__p 新品旅行組10mlx1
						p.activity__p KMS風格至上塗鴉手搖杯袋x1
						div.activity__more 活動詳情
					div.activity__item
						img.activity__itemImg(src="assets/images/prod2.png", alt="")
			section.equation
				div.equation__box
					div.equation__titleBox
						h3.equation__h3 KMS全新塑型方程式
						p.equation__p 高級時尚與街頭風格的靈感啟發
							span.equation__span ，
							span.equation__span 創造你的塑型方程式
					div.equation__container
						div.equation__item
							div.equation__left
								img.equation__img(src="assets/images/img1.jpg", alt="")
							div.equation__right
								img.equation__img(src="assets/images/img2.jpg", alt="")
			section.deep
				div.deep__left
					img.deep__leftImg(src="assets/images/img3.jpg", alt="")
				div.deep__right
					div.deep__textBox
						h3.deep__h3 女神級網紅力推的今夏形塑力超強聖品
						p.deep__p 廣編文字大綱文字段落，廣編文字大綱文字段落，廣編文字大綱文字段落，廣編文字大綱文字段落，廣編文字大綱文字段落，廣編文字大綱文字段落，廣編文字大綱文字段落，廣編文字大綱文字段落。
						div.deep__more 瞭解更多
		footer.footer
			div.footer__left
				div.footer__link
					a.footer__a(href="https://www.kmshair.com/zh-TW") kmshair.com
					span.footer__span
					a.footer__fb(href="")
						img.footer__fbImg(src="assets/images/footer_fb.svg", alt="")
					a.footer__yt(href="")
						img.footer__ytImg(src="assets/images/footer_yt.svg", alt="")
					a.footer__ig(href="")
						img.footer__igImg(src="assets/images/footer_ig.svg", alt="")
					p.footer__tag #kmshair
				p.footer__text KMS is part of Kao Salon Division
			div.footer__right
script(src="assets/scripts/jquery.min.js")
script(src="assets/scripts/main.js")