<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet", href="/assets/styles/main.css")
		link(rel="stylesheet", href="/assets/styles/newproduct.css")
		title Document
	body
		header.header
			a.header__logo
				img.header__logoImg(src="/assets/images/logo.png", alt="")
			div.header__lineBox
				div.header__line
				div.header__line
				div.header__line
		main
			section.section
				div.section__titleBox
						h3.section__h3 形塑新品 隆重上市
						p.section__p 簡單時尚
							span.section__span ．
							| 輕鬆OK洗
							span.section__span ．
							| 百變重塑
						div.section__imgBox
							img.section__img(src="/assets/images/productall.png", alt="")
						p.section__p.section__color 狠蠟/泥好蠟/油不得你
				div.section__scroll
					div.section__arrow
					p.section__text scroll
			section.city
				div.city__box
					div.city__first
						div.city__imgBox
							img.city__img(src="/assets/images/newproduct-city.jpg", alt="")
						div.city__wrapper
							div.city__textBox
								img.city__london(src="/assets/images/london.png", alt="")
								h3.city__h3 KMS創意城市
								p.city__p 在倫敦，這個以紳士儀容傳統文明的風格城市
								p.city__p 現在正流行著無性別時尚
								p.city__p 並且在街頭潮流及伸展台上嶄露頭角
				div.city__shopBox
					div.city__shopTitleBox
						p.city__p.city__white 2018顛覆傳統 全新上市
						h3.city__h3.city__shopH3 中性風儀容
						img.city__titleImg(src="/assets/images/genderless grooming.png", alt="")
						p.city__p.city__bold 擺脫黏膩感 創新
							span.city__span 最輕質地
							| 造型品
						p.city__note 傳統的造型已成為過去式，本季潮流中讓您充分利用您的產品
						p.city__note 無論是霧感、閃亮；正是或休閒，這些新產品都能為你的造型完美定型
					div.city__itemBox
						img.city__itemImg.city__center(src="/assets/images/center.png", alt="")
						img.city__itemImg.city__left(src="/assets/images/left.png", alt="")
						img.city__itemImg.city__right(src="/assets/images/right.png", alt="")
					div.city__itemDetails
						div.city__itemGroup
							div.city__itemUp
								span.city__itemOne 狠蠟
								span.city__itemOther.city__itemTwo 線條
								span.city__itemOther.city__itemThree 空氣感
								span.city__itemOther.city__itemFour 霧面光澤
							div.city__itemDown
								p.city__firstP 質地 : 
									sapn.city__itemFive 硬髮蠟，高度可塑性打造多層次風格，無傳統法蠟惱人油膩感
								p.city__secondP 髮質 : 
									sapn.city__itemSix 中長髮、細軟髮，保持造型一整天
			section.global
				div.global__box
					div.global__titleBox
						p.global__h3 KMS全球品牌大使
							span.global__span 共同研發推薦
					div.global__container
						div.global__left
							div.global__imgBox
								img.global__img(src="/assets/images/global1.jpg", alt="")
								div.global__textBox
									p.global__p 「漫步在倫敦街頭，可以看見忠於自我、不在意傳統性別腳色的人們－他們展現自己的本色，並希望每一天都能發現全新的自己。因此，我需要能協助我打造相關且真實之造型的產品。」
									p.global__p.global__note －SamBurnett，KMS全球造型議會
						div.global__right
							div.global__imgBox
								img.global__img(src="/assets/images/global2.jpg", alt="")
								div.global__textBox
									p.global__p 「我的顧客不會盲目跟隨流行或墨守陳規，起期待我也是如此。若是我想要回應相關潮流，就需要擁有相關產品。因此，我非常喜愛這些全新的定型產品。」
									p.global__p.global__note －Daniel Martin，創意造型師

script(src="/assets/scripts/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js")
script(src="/assets/scripts/main.js")
script(src="/assets/scripts/newproduct.js")
